# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = LQ Hoang-Pham
	email = longquanhp@gmail.com
[push]
  default = current
[core]
  editor = vim
	excludesfile = /Users/lq/.gitignore_global
[alias]
  c = commit
  cam = commit -a -m
  cm = commit -m
  co = checkout
  nb = checkout -b
  b = branch
  s = status
  up = pull --rebase --autostash
[branch]
  autosetuprebase = always
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/lq/.stCommitMsg
[init]
	defaultBranch = main
