# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = LQ Hoang-Pham
	email = longquanhp@gmail.com
[push]
  default = current
[core]
  editor = vim
[alias]
  c = commit
  cam = commit -a -m
  cm = commit -m
  co = checkout
  nb = checkout -b
  b = branch
  s = status
  up = pull --rebase --autostash
[branch]
  autosetuprebase = always
