<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mfaarkrog.alfredapp-workflows.focus</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>20711191-1519-4D8C-98D4-D6E452ADF873</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFD86D0D-CBD2-498A-8A2B-06058336EFCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>58C3D965-1374-4215-8EF1-5F10316C2E6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFD86D0D-CBD2-498A-8A2B-06058336EFCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6D1AAAB4-AEF0-4A72-88E7-AA85A3CA6E54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EF923E9-CBE4-4B4F-8D42-7618E0549C35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>90C4C8A3-38CC-461E-B398-7A13B93C8956</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75DD98E2-6B95-43D6-B97E-40A6369E8AD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9276C3D6-063D-445A-8CFC-566BA8D828DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E00C8AE5-EA47-4B33-A13E-10ADD5D9ED7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A1DA4254-1338-420D-831A-A4211C3EB4BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58E39DFC-037C-4F7C-B308-0665C8FD5F11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BB6BAEE6-E804-4066-9C53-6FAAF7BC46A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>451F5EAC-6D42-4B21-AB3B-3926C82EF3D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2A38261-720C-4BF9-AFB9-2A244FAF7A20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EF923E9-CBE4-4B4F-8D42-7618E0549C35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>MFaarkrog</string>
	<key>description</key>
	<string>Shortcuts for Focus (heyfocusapp.com)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Focus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/bash
open focus://unfocus
open focus://focus</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58E39DFC-037C-4F7C-B308-0665C8FD5F11</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fcs</string>
				<key>subtext</key>
				<string>Block distracting sites and applications indefinitely</string>
				<key>text</key>
				<string>Focus</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1DA4254-1338-420D-831A-A4211C3EB4BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fcs</string>
				<key>subtext</key>
				<string>Block distracting sites and applications for '{query}' minutes</string>
				<key>text</key>
				<string>Focus for '{query}' minutes</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>90C4C8A3-38CC-461E-B398-7A13B93C8956</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/bash
open focus://unfocus
open focus://focus?minutes={query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>75DD98E2-6B95-43D6-B97E-40A6369E8AD4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ufcs</string>
				<key>subtext</key>
				<string>Unblock distracting sites and applications for '{query}' minute(s)</string>
				<key>text</key>
				<string>Unfocus for '{query}' minute(s)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6D1AAAB4-AEF0-4A72-88E7-AA85A3CA6E54</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>do shell script "open focus://unfocus"
delay {query} * 60
do shell script "open focus://focus"
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3EF923E9-CBE4-4B4F-8D42-7618E0549C35</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fcsu</string>
				<key>subtext</key>
				<string>Unblock distracting sites and applications for '{query}' minute(s)</string>
				<key>text</key>
				<string>Unfocus for '{query}' minute(s)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2A38261-720C-4BF9-AFB9-2A244FAF7A20</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ufcs</string>
				<key>subtext</key>
				<string>Unblock distracting sites and applications indefinitely</string>
				<key>text</key>
				<string>Unfocus</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58C3D965-1374-4215-8EF1-5F10316C2E6F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/bash
open focus://unfocus</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EFD86D0D-CBD2-498A-8A2B-06058336EFCC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fcsu</string>
				<key>subtext</key>
				<string>Unblock distracting sites and applications indefinitely</string>
				<key>text</key>
				<string>Unfocus</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>20711191-1519-4D8C-98D4-D6E452ADF873</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fcst</string>
				<key>text</key>
				<string>Toggle Focus</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB6BAEE6-E804-4066-9C53-6FAAF7BC46A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/bash
open focus://toggle</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>451F5EAC-6D42-4B21-AB3B-3926C82EF3D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fcsp</string>
				<key>subtext</key>
				<string>Focus preferences</string>
				<key>text</key>
				<string>Preferences</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9276C3D6-063D-445A-8CFC-566BA8D828DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/bash
open focus://preferences</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E00C8AE5-EA47-4B33-A13E-10ADD5D9ED7A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># README
## Commands 
### Focus
* fcs

### Unfocus
* fcsu
* ufcs 

### Toggle
* fcst

### Preferences
* fcsp

##</string>
	<key>uidata</key>
	<dict>
		<key>20711191-1519-4D8C-98D4-D6E452ADF873</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>3EF923E9-CBE4-4B4F-8D42-7618E0549C35</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>451F5EAC-6D42-4B21-AB3B-3926C82EF3D2</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>58C3D965-1374-4215-8EF1-5F10316C2E6F</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>58E39DFC-037C-4F7C-B308-0665C8FD5F11</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>6D1AAAB4-AEF0-4A72-88E7-AA85A3CA6E54</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>75DD98E2-6B95-43D6-B97E-40A6369E8AD4</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>90C4C8A3-38CC-461E-B398-7A13B93C8956</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>9276C3D6-063D-445A-8CFC-566BA8D828DC</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>A1DA4254-1338-420D-831A-A4211C3EB4BE</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>BB6BAEE6-E804-4066-9C53-6FAAF7BC46A6</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>C2A38261-720C-4BF9-AFB9-2A244FAF7A20</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>E00C8AE5-EA47-4B33-A13E-10ADD5D9ED7A</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>EFD86D0D-CBD2-498A-8A2B-06058336EFCC</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
