<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bosha.alfred.blueman</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0CACB16D-41C0-4B80-A567-CA571ABD549F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62780805-57C1-4A16-A1F9-9C24EB09D74C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FF8E7D0-F1C5-4F5E-8851-C9742A4582B9</key>
		<array/>
		<key>44941A6C-C078-4653-AD1F-E3D703E3EEE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CACB16D-41C0-4B80-A567-CA571ABD549F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>66A81D23-A6B9-4948-B840-13155C1AB666</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>62780805-57C1-4A16-A1F9-9C24EB09D74C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B66AB3E-9274-488F-903A-2C846C0DC709</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FF8E7D0-F1C5-4F5E-8851-C9742A4582B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55DE8F2C-A3B7-4DCA-8B70-2419B08E6EF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C90C27BF-2899-45D7-8C55-D4DF84ECA712</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BDB45C3-CDD1-4B24-BC71-67158ACDCFC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C90C27BF-2899-45D7-8C55-D4DF84ECA712</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62780805-57C1-4A16-A1F9-9C24EB09D74C</key>
		<array/>
		<key>71776614-0CE9-41CA-8D2D-ED19A2188F18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FF8E7D0-F1C5-4F5E-8851-C9742A4582B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C90C27BF-2899-45D7-8C55-D4DF84ECA712</key>
		<array/>
		<key>F49AD98A-0D8A-4574-8A8D-A21AA143461F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44941A6C-C078-4653-AD1F-E3D703E3EEE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bosha</string>
	<key>description</key>
	<string>Allows to list paired devices, toggle bluetooth connection to device, turn on and off bluetooth.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Blueman</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript ./bt_manager.jxa turn-on</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0CACB16D-41C0-4B80-A567-CA571ABD549F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>btl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript ./src/bt_manager.jxa list "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List Bluetooth Devices</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F49AD98A-0D8A-4574-8A8D-A21AA143461F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n $query

/usr/bin/osascript -l JavaScript ./src/bt_manager.jxa toggle "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62780805-57C1-4A16-A1F9-9C24EB09D74C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>turn-on</string>
						<key>outputlabel</key>
						<string>Turn on Bluetooth</string>
						<key>uid</key>
						<string>66A81D23-A6B9-4948-B840-13155C1AB666</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Connect to Device</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>44941A6C-C078-4653-AD1F-E3D703E3EEE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bton</string>
				<key>subtext</key>
				<string>Turn on host bluetooth adapter</string>
				<key>text</key>
				<string>Turn Bluetooth on</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>55DE8F2C-A3B7-4DCA-8B70-2419B08E6EF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript ./src/bt_manager.jxa turn-on</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C90C27BF-2899-45D7-8C55-D4DF84ECA712</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5BDB45C3-CDD1-4B24-BC71-67158ACDCFC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>btoff</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turn Bluetooth off</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>71776614-0CE9-41CA-8D2D-ED19A2188F18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript ./src/bt_manager.jxa turn-off</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FF8E7D0-F1C5-4F5E-8851-C9742A4582B9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4B66AB3E-9274-488F-903A-2C846C0DC709</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow enables you to manage your Bluetooth device connections and Bluetooth state directly from Alfred. It offers the following functionalities:

* Displays a list of all paired devices along with their connection status (connected or disconnected).
* Connects or disconnects from a paired Bluetooth device.
* Turns Bluetooth on or off for your device.

For details see workflow github page - https://github.com/bosha/alfred-blueman-workflow</string>
	<key>uidata</key>
	<dict>
		<key>0CACB16D-41C0-4B80-A567-CA571ABD549F</key>
		<dict>
			<key>note</key>
			<string>Turn on bluetooth and display list of paired devices once again</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>3FF8E7D0-F1C5-4F5E-8851-C9742A4582B9</key>
		<dict>
			<key>note</key>
			<string>Turn off host bluetooth adapter</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>44941A6C-C078-4653-AD1F-E3D703E3EEE9</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>4B66AB3E-9274-488F-903A-2C846C0DC709</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>55DE8F2C-A3B7-4DCA-8B70-2419B08E6EF0</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>5BDB45C3-CDD1-4B24-BC71-67158ACDCFC1</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>62780805-57C1-4A16-A1F9-9C24EB09D74C</key>
		<dict>
			<key>note</key>
			<string>Toggle Device connection</string>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>71776614-0CE9-41CA-8D2D-ED19A2188F18</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>C90C27BF-2899-45D7-8C55-D4DF84ECA712</key>
		<dict>
			<key>note</key>
			<string>Turn on host bluetooth adapter</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>F49AD98A-0D8A-4574-8A8D-A21AA143461F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>info</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Error</string>
						<string>error</string>
					</array>
					<array>
						<string>Info</string>
						<string>info</string>
					</array>
					<array>
						<string>Debug</string>
						<string>debug</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Useful only for development purposes</string>
			<key>label</key>
			<string>Logging Level</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>log_level</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/bosha/alfred-blueman-workflow</string>
</dict>
</plist>
