<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.calebevans.playsong</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>054A5824-BBBA-43E5-9492-45181B0DD168</key>
		<array/>
		<key>0CAD339A-F5AC-436A-BA44-2C4FCC74A4C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96B849D1-A093-4AFD-9CD6-B42155F358AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F8DB154-481D-496B-9B82-9AF49E8BE266</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>706320F6-C5BB-4061-B2E1-8605D02003CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>444700BE-2A21-4CE8-9F13-E15F0BF8BA7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D86BD00-4048-465E-AAC1-86D50B74629E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CD827E2-B7A8-4834-8940-AE5AF1137695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4911AA-7273-4393-BF95-CD59C911A66C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58C77E93-70C2-481F-868E-4F96EA9FE5CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4911AA-7273-4393-BF95-CD59C911A66C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E80AAF6-FE82-44E8-880F-2C0884DB7AC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D9A170B-0948-4C54-B273-886CB96C7EFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>706320F6-C5BB-4061-B2E1-8605D02003CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C5DB4CC-45B8-4EB0-A534-C57C45FD7A6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6755548B-40B2-4EC7-AFC1-B0B13097776B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>714E7915-258E-45A2-92B3-65F7C5018E70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79F8ECD8-2111-4E93-900F-4AD4026FC950</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4911AA-7273-4393-BF95-CD59C911A66C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B245726-B1C7-419F-BACF-F5AF6435433F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4911AA-7273-4393-BF95-CD59C911A66C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EA28496-C411-499F-BEE6-7B5DCD715D1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E80AAF6-FE82-44E8-880F-2C0884DB7AC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F4911AA-7273-4393-BF95-CD59C911A66C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F1039B0F-2D47-4102-9A3A-49E2574FAA7A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1B6201EC-7022-4E05-94B5-0C5BF335DC36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>898FDB8C-D78E-4BD2-829D-117810515E8D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBDBA2FD-BDF5-4408-84CD-DAE2A8469185</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0DE28AB3-769E-497E-805C-A2E60B9A3665</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C12E5B85-1604-4676-86F5-9D1A398CEFC6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83BF2ABA-1BDE-4370-9790-E5FF5AC8A31A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4911AA-7273-4393-BF95-CD59C911A66C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96B849D1-A093-4AFD-9CD6-B42155F358AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>346FAAF6-06D9-4DEF-B604-D70FDEC738DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DFE346B-972E-4682-90C3-ACF173B21806</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADF3849C-38FC-4095-9EFC-6B243A58E9D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E8F24E0-4377-44C2-8360-7DB4E0711E22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F8DB154-481D-496B-9B82-9AF49E8BE266</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EB36C2B-965B-46F2-AE69-CEFBEDD7CD5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4911AA-7273-4393-BF95-CD59C911A66C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A501BD7B-B692-4721-BDBB-1DBFDA8B1999</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5FAE9A7-8B29-4A88-B108-1C4D11682052</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5FAE9A7-8B29-4A88-B108-1C4D11682052</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80D57676-0607-4BD3-8F36-913AC2D7CFBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C484A050-5DEE-4FFD-8DF7-1A8FEE233E4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4911AA-7273-4393-BF95-CD59C911A66C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBDBA2FD-BDF5-4408-84CD-DAE2A8469185</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C6C2CCA-200F-4023-ABD4-C043EA502F44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5D4F404-B842-4213-8D1B-37439D2FAD14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4911AA-7273-4393-BF95-CD59C911A66C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6FA0272-455F-4925-B924-CFBF2C28B18C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>444700BE-2A21-4CE8-9F13-E15F0BF8BA7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBC1CA81-F765-445E-A3C2-1F298A4E5674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FED66558-6068-44A5-BD05-425F9ED8A201</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FED66558-6068-44A5-BD05-425F9ED8A201</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CC2EAC9-34FD-4664-8D19-E20F45C67F89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caleb Evans</string>
	<key>description</key>
	<string>Quickly play songs in iTunes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Play Song</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playsong</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playsong.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play song...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E5D4F404-B842-4213-8D1B-37439D2FAD14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/play.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playalbum</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playalbum.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play album...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>58C77E93-70C2-481F-868E-4F96EA9FE5CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/play-direct.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B6201EC-7022-4E05-94B5-0C5BF335DC36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playartist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playartist.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play artist...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83BF2ABA-1BDE-4370-9790-E5FF5AC8A31A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>3C6C2CCA-200F-4023-ABD4-C043EA502F44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:search_query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DBDBA2FD-BDF5-4408-84CD-DAE2A8469185</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playgenre</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playgenre.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play genre...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>79F8ECD8-2111-4E93-900F-4AD4026FC950</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>play</string>
						<key>outputlabel</key>
						<string>play</string>
						<key>uid</key>
						<string>F1039B0F-2D47-4102-9A3A-49E2574FAA7A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>play_directly</string>
						<key>outputlabel</key>
						<string>play directly</string>
						<key>uid</key>
						<string>898FDB8C-D78E-4BD2-829D-117810515E8D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search_on_web</string>
						<key>outputlabel</key>
						<string>search on web</string>
						<key>uid</key>
						<string>0DE28AB3-769E-497E-805C-A2E60B9A3665</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>queue</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>queue</string>
						<key>outputlabel</key>
						<string>queue</string>
						<key>uid</key>
						<string>C12E5B85-1604-4676-86F5-9D1A398CEFC6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7F4911AA-7273-4393-BF95-CD59C911A66C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Result has been queued.</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ADF3849C-38FC-4095-9EFC-6B243A58E9D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/queue.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playplaylist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playplaylist.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play playlist...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C484A050-5DEE-4FFD-8DF7-1A8FEE233E4F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playalbumby</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>osascript filters/playalbumby.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play album by artist...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B245726-B1C7-419F-BACF-F5AF6435433F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playsongin</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playsongin.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play song in album...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4CD827E2-B7A8-4834-8940-AE5AF1137695</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playsongby</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playsongby.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play song by artist...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9EB36C2B-965B-46F2-AE69-CEFBEDD7CD5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>playqueue</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Play queue for Play Song workflow...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E6FA0272-455F-4925-B924-CFBF2C28B18C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Playing queue...</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4D86BD00-4048-465E-AAC1-86D50B74629E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/playqueue.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>444700BE-2A21-4CE8-9F13-E15F0BF8BA7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/clearqueue.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FED66558-6068-44A5-BD05-425F9ED8A201</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clearqueue</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear queue for Play Song workflow...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FBC1CA81-F765-445E-A3C2-1F298A4E5674</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Queue has been cleared.</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7CC2EAC9-34FD-4664-8D19-E20F45C67F89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clearcache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear cache for Play Song workflow...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7EA28496-C411-499F-BEE6-7B5DCD715D1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Cache has been cleared.</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3D9A170B-0948-4C54-B273-886CB96C7EFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/clearcache.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E80AAF6-FE82-44E8-880F-2C0884DB7AC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shuffleon</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enable Shuffle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0CAD339A-F5AC-436A-BA44-2C4FCC74A4C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/shuffleon.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96B849D1-A093-4AFD-9CD6-B42155F358AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Shuffle has been enabled</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>346FAAF6-06D9-4DEF-B604-D70FDEC738DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Shuffle has been disabled</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>80D57676-0607-4BD3-8F36-913AC2D7CFBB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/shuffleoff.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5FAE9A7-8B29-4A88-B108-1C4D11682052</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shuffleoff</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Disable Shuffle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A501BD7B-B692-4721-BDBB-1DBFDA8B1999</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Shuffle has been enabled</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8C5DB4CC-45B8-4EB0-A534-C57C45FD7A6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shuffletoggle</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Shuffle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9E8F24E0-4377-44C2-8360-7DB4E0711E22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/shuffletoggle.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2F8DB154-481D-496B-9B82-9AF49E8BE266</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>enabled</string>
						<key>uid</key>
						<string>6755548B-40B2-4EC7-AFC1-B0B13097776B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>disabled</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>706320F6-C5BB-4061-B2E1-8605D02003CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Shuffle has been disabled</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>714E7915-258E-45A2-92B3-65F7C5018E70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Please refer to the README on the Play Song GitHub repository:
https://github.com/caleb531/play-song#readme</string>
	<key>uidata</key>
	<dict>
		<key>054A5824-BBBA-43E5-9492-45181B0DD168</key>
		<dict>
			<key>note</key>
			<string>Play Result</string>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>0CAD339A-F5AC-436A-BA44-2C4FCC74A4C6</key>
		<dict>
			<key>note</key>
			<string>Enable Shuffle</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1600</real>
		</dict>
		<key>1B6201EC-7022-4E05-94B5-0C5BF335DC36</key>
		<dict>
			<key>note</key>
			<string>Play Result Directly</string>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>2F8DB154-481D-496B-9B82-9AF49E8BE266</key>
		<dict>
			<key>note</key>
			<string>Toggle Shuffle</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>1930</real>
		</dict>
		<key>346FAAF6-06D9-4DEF-B604-D70FDEC738DF</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>1600</real>
		</dict>
		<key>3C6C2CCA-200F-4023-ABD4-C043EA502F44</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>3D9A170B-0948-4C54-B273-886CB96C7EFE</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>444700BE-2A21-4CE8-9F13-E15F0BF8BA7F</key>
		<dict>
			<key>note</key>
			<string>Play Queue</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>1180</real>
		</dict>
		<key>4CD827E2-B7A8-4834-8940-AE5AF1137695</key>
		<dict>
			<key>note</key>
			<string>Play Song In Album</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>4D86BD00-4048-465E-AAC1-86D50B74629E</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>1180</real>
		</dict>
		<key>58C77E93-70C2-481F-868E-4F96EA9FE5CC</key>
		<dict>
			<key>note</key>
			<string>Play Album</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>6E80AAF6-FE82-44E8-880F-2C0884DB7AC8</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>706320F6-C5BB-4061-B2E1-8605D02003CF</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>1950</real>
		</dict>
		<key>714E7915-258E-45A2-92B3-65F7C5018E70</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>1990</real>
		</dict>
		<key>79F8ECD8-2111-4E93-900F-4AD4026FC950</key>
		<dict>
			<key>note</key>
			<string>Play Genre</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>7B245726-B1C7-419F-BACF-F5AF6435433F</key>
		<dict>
			<key>note</key>
			<string>Play Album By Artist</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>7CC2EAC9-34FD-4664-8D19-E20F45C67F89</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>1320</real>
		</dict>
		<key>7EA28496-C411-499F-BEE6-7B5DCD715D1E</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>7F4911AA-7273-4393-BF95-CD59C911A66C</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>80D57676-0607-4BD3-8F36-913AC2D7CFBB</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>1740</real>
		</dict>
		<key>83BF2ABA-1BDE-4370-9790-E5FF5AC8A31A</key>
		<dict>
			<key>note</key>
			<string>Play Artist</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>8C5DB4CC-45B8-4EB0-A534-C57C45FD7A6C</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>1875</real>
		</dict>
		<key>96B849D1-A093-4AFD-9CD6-B42155F358AD</key>
		<dict>
			<key>note</key>
			<string>Enable Shuffle</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>1600</real>
		</dict>
		<key>9DFE346B-972E-4682-90C3-ACF173B21806</key>
		<dict>
			<key>note</key>
			<string>Queue Result</string>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>9E8F24E0-4377-44C2-8360-7DB4E0711E22</key>
		<dict>
			<key>note</key>
			<string>Toggle Shuffle</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1930</real>
		</dict>
		<key>9EB36C2B-965B-46F2-AE69-CEFBEDD7CD5C</key>
		<dict>
			<key>note</key>
			<string>Play Song By Artist</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>A501BD7B-B692-4721-BDBB-1DBFDA8B1999</key>
		<dict>
			<key>note</key>
			<string>Disable Shuffle</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1740</real>
		</dict>
		<key>A5FAE9A7-8B29-4A88-B108-1C4D11682052</key>
		<dict>
			<key>note</key>
			<string>Disable Shuffle</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>1740</real>
		</dict>
		<key>ADF3849C-38FC-4095-9EFC-6B243A58E9D2</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>C484A050-5DEE-4FFD-8DF7-1A8FEE233E4F</key>
		<dict>
			<key>note</key>
			<string>Play Playlist</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>DBDBA2FD-BDF5-4408-84CD-DAE2A8469185</key>
		<dict>
			<key>xpos</key>
			<real>945</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>E5D4F404-B842-4213-8D1B-37439D2FAD14</key>
		<dict>
			<key>note</key>
			<string>Play Song</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E6FA0272-455F-4925-B924-CFBF2C28B18C</key>
		<dict>
			<key>note</key>
			<string>Play Queue</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1180</real>
		</dict>
		<key>FBC1CA81-F765-445E-A3C2-1F298A4E5674</key>
		<dict>
			<key>note</key>
			<string>Clear Queue</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1320</real>
		</dict>
		<key>FED66558-6068-44A5-BD05-425F9ED8A201</key>
		<dict>
			<key>note</key>
			<string>Clear Queue</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>1320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>9.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/caleb531/play-song</string>
</dict>
</plist>
